<%= form_for [@post, @post.comment.build] do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <div>
        Your comment:
        <%= f.text_area :body, :class => "tinymce", :rows => 10, :cols => 10 %>
        <%= tinymce %>
    </div>
    
    <%= f.submit %>
<% end %>