<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <%= link_to 'How it`s done', root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <li><%= link_to 'Categories', categories_path, class: "nav-link" %></li>
      </li>
      <li class="nav-item active">
        <li><%= link_to 'Users', users_path, class: "nav-link" %></li>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li role="presentation" class="dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if current_user.avatar.attached? %>
              <%= image_tag resource.avatar.variant(resize: '30x30!'), class: "rounded-circle" %>
            <% else %>
              <img src="https://image.flaticon.com/icons/svg/747/747376.svg" height="30px" width="30px"></img>
            <% end %>
            <%= current_user.username %>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Edit profile', edit_user_registration_path, class: "dropdown-item" %></li>
            <li><%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
          </ul>
        </li>
      <% else %>
        <li class="nav-item"><%= link_to ' Sign up', new_user_registration_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to ' Sign in', new_user_session_path, class: "nav-link" %></li>
      <% end %>
    </ul>
</div>
</nav>