<div class="post-section">

  <div class="link-section">
    <% if user_signed_in? and current_user.id == @post.user_id %>
      <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-warning" %>
      <%= link_to 'Delete', post_path(@post), method: :delete,
                data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
    <% end %>
  </div>

  <h1><%= @post.name %></h1>

  <p><%= @post.body.html_safe %></p>

  <p>
      <strong>Author</strong>
      <%= @post.user.username %>
  </p>
  
  <div class="likes-and-dislikes">
    <% if user_signed_in? %>
      <div class="likes">
        <%= link_to '+', post_likes_path(@post), method: :post, class: "btn btn-success"%>
      </div>
    <% else %>
      <div class="likes">
        <button type="button" class="btn btn-success" disabled>+</button>
      </div>
    <% end %>
    <div class="likes">
      <p style="position: center"><%= (@likes - @dislikes) %></p>
    </div>
    <% if user_signed_in? %>
      <div class="likes">
        <%= link_to '-', post_dislikes_path(@post), method: :post, class: "btn btn-danger" %>
      </div>
    <% else %>
      <div class="likes">
        <button type="button" class="btn btn-danger" disabled>-</button>
      </div>
    <% end %>
  </div>
</div>

<div class="comment-section">
  <h3>Comments:</h3>
    <ol>
      <%= render @post.comment %>
    </ol>
    <% if user_signed_in? %>
      <h3>Add comment:</h3>
      <%= render 'comments/form' %>
    <% else %>
      <p><%= link_to 'Sign in', new_user_session_path %> or <%= link_to 'Sign up', new_user_registration_path %> to write comment</p>
    <% end %>
</div>

<div class="link-section">
  <%= link_to 'Back', posts_path, class: "btn btn-primary" %>
</div>