<!DOCTYPE html>
<html>
  <head>
    <title>HowItsDone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/application/navbar' %>
    <div style="margin: 1%"><%= notice %></div>
    <div style="margin: 1%"><%= alert %></div>
    <%= yield %>
  </body>
</html>
